<h1>Editing reference range</h1>

<%= render "form", reference_range: @reference_range %>

<div>
  <%= link_to "Show this reference range", @reference_range %> |
  <%= link_to "Back to reference ranges", reference_ranges_path(@biomarker) %>
</div>
