<section>
  <header class="tw-my-2 tw-flex tw-flex-center tw-justify-between tw-items-center">
    <h1 class="tw-text-lg">Lab Tests</h1>
    <%= link_to "New lab test", new_lab_test_path, class: "btn btn-primary" %>
  </header>

  <div id="lab_tests" class="tw-relative tw-overflow-x-auto tw-shadow-md tw-sm:tw-rounded-lg">
    <table class="tw-w-full tw-text-sm tw-text-left tw-text-right tw-rounded-md">
      <%= render "index_table_head", recordables: @recordables %>
      <%= render "index_table_body", recordables: @recordables, biomarkers: @biomarkers %>
    </table>
  </div>

</section>
