<h1>Editing biomarker</h1>

<%= render "form", biomarker: @biomarker %>

<div>
  <%= link_to "Add Reference Range", new_biomarker_reference_range_path(@biomarker) %>
</div>

<div>
  <%= link_to "Show this biomarker", @biomarker %> |
  <%= link_to "Back to biomarkers", biomarkers_path %>
</div>
